<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Songs</title>
<link rel="stylesheet" type="text/css" href="/AddSongs.css">

</head>
<body>
	<form action="/addsongs" method="post" enctype="multipart/form-data">
		<h1>Enter Song Details:</h1>
		<label for="name">Song Name:</label> <input type="text" id="name"
			name="name" required> <label for="artist">Song Artist:</label> 
			<input type="text" id="artist" name="artist" required>

		<label for="genre">Song Genre:</label> 
		<input type="text" id="genre"
			name="genre" required> 
			<label for="link">Song Link:</label> 
			<input
			type="text" id="link" name="link" required> 
			<input
			type="submit" value="Add Song">
	</form>
</body>
</html>
